# Extra Practise - Basics

In this optional practise session, I thought it would be fun to look at some cost of living data from, you guessed it, Kaggle: https://www.kaggle.com/stephenofarrell/cost-of-living

Here are the objectives:

1. Rename the "index" column to "location"
2. Utilise apply to generate two new columns from the location - city and country
3. Realise the easy solution doesn't doesnt work for the United States and create a function for apply to remove specific states.
3. Figure out which country has the most cities listed, and create a dataset from only that country
4. Sort the dataset by the cost of living 'Apartment (1 bedroom) in City Centre'
5. Cry over housing prices if you live in the Bay Area.

After that, feel free to keep playing with the data yourself.

In [1]:
# Code to start you off and manipulate the data. .T is transpose - swap columns and rows
import pandas as pd

df = pd.read_csv("cost-of-living.csv", index_col=0).T.reset_index()
df.head()

,index,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,Lettuce (1 head),Cappuccino (regular),"Rice (white), (1kg)",Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child"
0,"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,...,0.86,1.96,0.92,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86
1,"Istanbul, Turkey",4.58,15.28,3.82,3.06,3.06,0.64,0.24,0.71,0.36,...,0.61,1.84,1.30,0.80,1.91,0.62,9.73,20874.72,282.94,6905.43
2,"Izmir, Turkey",3.06,12.22,3.06,2.29,2.75,0.61,0.22,0.65,0.38,...,0.57,1.56,1.31,0.70,1.78,0.58,8.61,20898.83,212.18,4948.41
3,"Helsinki, Finland",12.00,65.00,8.00,6.50,6.75,2.66,1.89,0.96,2.27,...,2.30,3.87,2.13,2.91,1.61,1.25,12.34,24402.77,351.60,1641.00
4,"Chisinau, Moldova",4.67,20.74,4.15,1.04,1.43,0.64,0.44,0.68,0.33,...,0.84,1.25,0.93,1.56,1.37,0.59,5.37,17238.13,210.52,2679.30

## Rename column

In [2]:
# your code here
df.rename(columns={"index": "location"},inplace=True)

In [3]:
df.location[40]

'Toronto, Canada'

In [4]:
df.head(50)

,location,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,Lettuce (1 head),Cappuccino (regular),"Rice (white), (1kg)",Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child"
0,"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,...,0.86,1.96,0.92,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86
1,"Istanbul, Turkey",4.58,15.28,3.82,3.06,3.06,0.64,0.24,0.71,0.36,...,0.61,1.84,1.30,0.80,1.91,0.62,9.73,20874.72,282.94,6905.43
2,"Izmir, Turkey",3.06,12.22,3.06,2.29,2.75,0.61,0.22,0.65,0.38,...,0.57,1.56,1.31,0.70,1.78,0.58,8.61,20898.83,212.18,4948.41
3,"Helsinki, Finland",12.00,65.00,8.00,6.50,6.75,2.66,1.89,0.96,2.27,...,2.30,3.87,2.13,2.91,1.61,1.25,12.34,24402.77,351.60,1641.00
4,"Chisinau, Moldova",4.67,20.74,4.15,1.04,1.43,0.64,0.44,0.68,0.33,...,0.84,1.25,0.93,1.56,1.37,0.59,5.37,17238.13,210.52,2679.30
5,"Milan, Italy",15.00,60.00,8.00,5.00,5.00,2.49,1.12,1.21,1.94,...,1.27,1.46,2.25,2.45,1.99,1.27,17.75,23233.33,617.27,10761.90
6,"Cairo, Egypt",3.38,17.48,4.51,1.69,2.82,0.29,0.18,0.84,0.51,...,0.28,1.65,0.65,0.35,0.66,0.34,8.06,21020.29,121.15,2781.29
7,"Banja Luka, Bosnia And Herzegovina",3.58,22.99,3.58,1.02,1.53,1.18,0.74,0.69,0.63,...,0.55,0.85,1.05,0.94,1.06,0.64,7.43,16529.98,128.70,1348.77
8,"Baku, Azerbaijan",5.27,23.73,4.22,0.84,2.11,0.37,0.21,0.83,0.26,...,0.42,2.15,1.05,0.83,1.22,0.39,6.15,18564.59,208.84,5657.01
9,"Guadalajara, Mexico",5.25,23.86,4.25,1.43,2.39,0.66,0.51,0.87,1.35,...,0.73,1.99,1.04,0.98,0.94,1.03,6.88,15579.09,145.75,2826.61
10,"Kathmandu, Nepal",1.99,11.92,5.56,2.38,3.18,0.45,0.20,0.67,0.43,...,0.28,1.54,0.79,0.50,0.90,0.41,4.39,46216.93,55.92,1154.07
11,"Hanoi, Vietnam",1.94,15.52,3.88,0.78,1.55,0.45,0.28,1.32,0.71,...,0.58,1.57,0.79,0.94,0.85,0.91,7.92,33491.64,166.55,8021.90
12,"Ho Chi Minh City, Vietnam",1.94,17.50,3.87,0.78,1.36,0.43,0.26,1.21,0.66,...,0.72,1.72,0.71,0.77,0.77,0.92,9.69,30780.17,109.65,7237.44
13,"Mexico City, Mexico",4.77,23.86,4.77,1.91,2.86,0.61,0.47,0.91,1.44,...,0.76,2.00,0.95,1.05,0.95,1.13,6.90,14844.85,211.05,4721.73
14,"Rome, Italy",15.00,55.00,8.00,5.00,4.00,1.87,0.99,1.28,1.54,...,1.00,1.28,2.02,2.04,1.77,1.29,14.54,23535.29,523.86,11972.73
15,"Monterrey, Mexico",5.75,23.94,4.31,1.68,2.39,0.69,0.54,0.91,1.51,...,0.79,2.28,0.87,1.23,0.88,1.44,6.01,14421.34,198.98,4080.55
16,"Yekaterinburg, Russia",5.88,29.42,4.12,1.47,2.94,0.77,0.53,0.75,0.43,...,0.52,1.65,0.83,1.31,0.97,0.41,6.79,18832.10,199.74,3166.47
17,"Sarajevo, Bosnia And Herzegovina",3.57,20.42,4.08,1.79,1.79,1.36,0.68,0.70,0.52,...,0.51,1.28,1.05,1.13,1.13,0.63,7.66,17681.12,164.67,3431.24
18,"Kharkiv, Ukraine",4.50,18.76,3.75,0.88,1.29,0.38,0.29,0.85,0.41,...,0.68,1.03,0.97,0.95,0.98,0.39,4.84,21067.14,176.48,2033.83
19,"Kiev, Ukraine",5.63,22.51,3.75,1.13,1.80,0.58,0.45,0.93,0.58,...,0.85,1.17,1.04,1.57,1.06,0.55,5.65,20758.91,254.74,7483.60
20,"Calgary, Canada",13.75,42.97,6.87,4.81,5.50,1.63,1.51,1.35,1.83,...,1.63,3.14,2.00,2.42,1.21,1.58,10.19,15976.18,780.68,10418.14
21,"Tunis, Tunisia",1.92,12.78,3.19,1.60,1.60,0.50,0.28,0.39,0.10,...,0.28,0.67,0.56,0.53,1.54,0.49,8.04,21400.10,72.31,1644.93
22,"Edmonton, Canada",13.75,48.12,6.53,4.12,4.12,1.48,1.20,1.57,1.82,...,1.72,2.95,2.53,3.09,1.11,1.53,9.78,16049.12,588.27,6840.27
23,"Amsterdam, Netherlands",15.00,65.00,8.00,5.00,4.00,2.35,1.96,1.02,1.43,...,1.03,3.13,1.90,2.36,1.75,1.27,13.68,26696.43,1542.42,13010.39
24,"Belgrade, Serbia",5.39,24.62,5.09,1.70,1.95,1.34,0.92,0.79,0.42,...,0.38,1.41,1.09,1.02,0.98,0.50,6.65,17474.32,245.94,4803.12
25,"Odessa, Ukraine",5.65,20.67,3.67,0.94,1.20,0.57,0.42,0.97,0.45,...,0.82,1.19,0.97,1.35,1.05,0.47,5.65,21373.22,210.98,2358.66
26,"Paris, France",15.00,50.00,8.70,7.00,6.00,3.14,2.19,1.24,1.52,...,1.30,3.40,1.79,2.82,2.11,2.28,18.89,24250.00,877.75,12939.69
27,"Eindhoven, Netherlands",15.00,56.50,8.00,5.00,3.00,2.41,1.99,0.93,1.09,...,1.04,2.63,1.87,2.44,1.70,1.30,14.64,25728.62,1221.30,4787.50
28,"Plovdiv, Bulgaria",5.10,20.42,4.59,1.28,1.53,0.95,0.64,1.03,0.56,...,0.42,1.27,1.08,1.32,1.30,0.64,6.03,17879.91,225.80,3725.87
29,"Thessaloniki, Greece",10.00,35.00,6.50,3.50,4.50,1.46,0.50,1.11,0.91,...,0.81,3.21,1.52,1.16,1.47,0.77,8.26,18173.50,301.04,6775.00
30,"Ottawa, Canada",11.00,55.00,6.87,4.81,4.81,1.39,1.18,1.44,1.94,...,1.75,2.85,2.42,2.36,1.06,1.44,10.43,16072.54,782.15,9040.16
31,"Sofia, Bulgaria",6.14,25.57,4.60,1.53,1.97,0.84,0.59,1.04,0.56,...,0.64,1.25,1.08,1.41,1.28,0.59,7.33,18183.20,325.23,4753.12
32,"Rotterdam, Netherlands",13.00,50.00,8.00,4.00,4.00,2.09,1.59,0.89,1.12,...,1.03,2.73,1.70,2.47,1.73,1.21,12.69,23899.00,1116.67,10142.86
33,"Varna, Bulgaria",6.12,20.42,4.08,1.02,1.53,0.87,0.54,1.02,0.51,...,0.62,1.23,1.05,1.27,1.39,0.54,7.40,17065.34,263.81,3585.51
34,"Novi Sad, Serbia",4.84,17.85,4.42,1.50,1.80,1.15,0.78,0.76,0.43,...,0.39,1.11,1.03,0.88,1.10,0.51,5.87,17816.21,167.10,2644.23
35,"Utrecht, Netherlands",15.00,65.00,8.00,5.00,4.50,2.53,1.99,0.92,1.15,...,1.07,3.03,1.92,2.39,1.93,1.30,15.66,33271.60,1450.00,6125.00
36,"Berlin, Germany",8.50,40.00,7.00,3.50,3.10,2.02,1.73,0.80,1.34,...,1.13,2.74,1.76,2.22,1.47,1.39,11.24,19749.00,177.88,6829.05
37,"Beirut, Lebanon",8.98,53.91,7.19,3.22,4.17,0.74,0.39,1.89,0.86,...,0.85,3.82,1.46,1.09,1.20,0.87,11.51,18766.59,348.27,4684.61
38,"Austin, TX, United States",13.48,44.92,7.19,4.49,5.39,1.87,1.37,0.75,2.40,...,1.45,3.95,2.60,3.19,1.04,1.82,10.60,18743.38,890.67,17537.93
39,"Singapore, Singapore",8.33,39.98,5.33,6.66,8.00,1.25,0.91,2.04,1.50,...,1.41,3.66,2.01,2.01,2.22,1.92,11.35,67345.10,773.41,18581.67
40,"Toronto, Canada",13.75,55.00,7.56,5.16,5.50,1.64,1.24,1.94,1.99,...,1.93,3.10,2.46,2.88,1.22,2.13,14.80,17570.16,1022.99,17653.10
41,"Auckland, New Zealand",11.95,50.78,6.57,5.68,5.38,2.00,1.89,1.59,1.42,...,1.71,2.83,1.68,2.93,1.70,1.66,10.36,17575.02,704.18,12204.08
42,"Podgorica, Montenegro",5.00,25.00,3.00,1.50,1.90,1.68,1.04,0.79,0.53,...,0.90,1.45,1.12,1.18,1.13,0.72,7.58,17648.57,133.33,8400.00
43,"Vancouver, Canada",11.69,55.00,6.87,4.81,4.81,1.40,1.26,1.63,2.36,...,1.86,3.05,2.87,3.31,1.28,2.29,12.43,16057.11,849.75,14093.02
44,"Tokyo, Japan",8.19,40.97,5.70,4.10,4.92,1.20,0.87,1.55,1.54,...,1.62,3.21,5.04,5.19,2.81,2.87,19.66,18110.35,604.02,17051.34
45,"Victoria, Canada",12.05,49.93,6.89,4.82,4.82,1.55,1.41,1.53,2.16,...,1.76,3.12,4.41,3.52,1.05,2.15,11.18,15784.74,710.97,10171.93
46,"Winnipeg, Canada",10.31,41.25,6.80,4.12,4.81,1.49,1.26,1.21,1.71,...,1.73,3.09,2.62,2.27,1.17,1.24,9.21,16214.83,375.57,7763.44
47,"Boston, MA, United States",13.47,62.85,7.18,6.29,6.73,1.75,1.53,0.78,2.62,...,1.68,3.60,3.68,5.14,1.39,3.40,14.07,18411.02,1534.76,24642.48
48,"Chicago, IL, United States",13.47,53.87,7.18,4.94,6.29,1.75,1.52,0.70,2.54,...,1.42,3.69,3.92,3.52,1.47,2.39,12.40,18842.65,1025.73,15972.64
49,"Almaty, Kazakhstan",4.77,23.84,3.81,1.07,1.43,0.40,0.31,0.75,0.24,...,1.25,1.78,0.80,1.09,1.23,0.28,5.49,17285.46,153.08,4428.44

## Get city and country

In [5]:
# your code here

In [6]:
df2=df.location.str.split(",", expand=True)

In [7]:
df2[2].fillna(df2[1],inplace=True)

In [8]:
df2.rename(columns={2: "country",1:'county',0:'city'},inplace=True)
df2

                 city      county     country
0    Saint Petersburg      Russia      Russia
1            Istanbul      Turkey      Turkey
2               Izmir      Turkey      Turkey
3            Helsinki     Finland     Finland
4            Chisinau     Moldova     Moldova
..                ...         ...         ...
155         Melbourne   Australia   Australia
156             Perth   Australia   Australia
157            Sydney   Australia   Australia
158        Alexandria       Egypt       Egypt
159             Quito     Ecuador     Ecuador

[160 rows x 3 columns]

In [9]:
df=df.join(df2)

In [10]:
df.location.str.split(expand=True,pat=',')

                    0           1     2
0    Saint Petersburg      Russia  None
1            Istanbul      Turkey  None
2               Izmir      Turkey  None
3            Helsinki     Finland  None
4            Chisinau     Moldova  None
..                ...         ...   ...
155         Melbourne   Australia  None
156             Perth   Australia  None
157            Sydney   Australia  None
158        Alexandria       Egypt  None
159             Quito     Ecuador  None

[160 rows x 3 columns]

In [11]:
df

,location,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child",city,county,country
0,"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,...,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86,Saint Petersburg,Russia,Russia
1,"Istanbul, Turkey",4.58,15.28,3.82,3.06,3.06,0.64,0.24,0.71,0.36,...,0.80,1.91,0.62,9.73,20874.72,282.94,6905.43,Istanbul,Turkey,Turkey
2,"Izmir, Turkey",3.06,12.22,3.06,2.29,2.75,0.61,0.22,0.65,0.38,...,0.70,1.78,0.58,8.61,20898.83,212.18,4948.41,Izmir,Turkey,Turkey
3,"Helsinki, Finland",12.00,65.00,8.00,6.50,6.75,2.66,1.89,0.96,2.27,...,2.91,1.61,1.25,12.34,24402.77,351.60,1641.00,Helsinki,Finland,Finland
4,"Chisinau, Moldova",4.67,20.74,4.15,1.04,1.43,0.64,0.44,0.68,0.33,...,1.56,1.37,0.59,5.37,17238.13,210.52,2679.30,Chisinau,Moldova,Moldova
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,"Melbourne, Australia",10.22,49.54,7.12,5.57,5.57,1.91,1.70,0.90,1.88,...,3.06,2.20,1.78,9.42,15221.84,1250.41,12874.09,Melbourne,Australia,Australia
156,"Perth, Australia",12.43,56.55,7.32,5.90,5.59,1.79,1.62,1.03,1.76,...,2.40,2.11,1.29,9.49,15239.20,1190.12,11526.08,Perth,Australia,Australia
157,"Sydney, Australia",11.81,54.37,7.15,4.97,4.97,1.99,1.68,0.90,1.85,...,3.01,2.17,1.72,11.24,15066.62,1389.43,11933.55,Sydney,Australia,Australia
158,"Alexandria, Egypt",2.81,14.06,3.38,1.69,2.81,0.32,0.19,0.81,0.51,...,0.39,0.66,0.31,8.37,23071.86,55.41,2132.54,Alexandria,Egypt,Egypt
159,"Quito, Ecuador",3.59,31.45,5.39,1.35,2.70,0.71,0.47,0.87,1.35,...,1.06,0.99,0.94,6.46,25324.92,276.63,6410.05,Quito,Ecuador,Ecuador

In [12]:
# And - if needed - correct for the US including states and nowhere else doing it

## Figure out which country has the most cities

In [13]:
# your code here
df[df['country']==' Russia']

,location,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child",city,county,country
0,"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,...,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86,Saint Petersburg,Russia,Russia
16,"Yekaterinburg, Russia",5.88,29.42,4.12,1.47,2.94,0.77,0.53,0.75,0.43,...,1.31,0.97,0.41,6.79,18832.10,199.74,3166.47,Yekaterinburg,Russia,Russia
141,"Moscow, Russia",8.80,36.69,4.40,2.93,2.57,0.80,0.51,1.03,0.62,...,2.21,0.97,0.50,7.72,19737.85,523.31,10478.53,Moscow,Russia,Russia
151,"Novosibirsk, Russia",5.72,22.01,3.67,1.10,2.20,0.69,0.52,0.85,0.49,...,1.80,1.10,0.36,7.20,18129.31,222.83,2474.58,Novosibirsk,Russia,Russia

In [42]:
a=df.groupby(by='country').count().sort_values('city',ascending=False)
a=a.reset_index()

## Create a subset of only that country

In [61]:
# your code here
df.country.value_counts().index[0]

' United States'

## Sort by housing accommodation

In [ ]:
col = "Apartment (1 bedroom) in City Centre"
# your code here

## Despair over the cost of housing